<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Higurashuocomosellame.css">
    <title> Cómo leer manga </title>
</head>
<body>
    <nav>
        <ul id="menu">
            <li> <a href="Honne.html"> 
                <picture>
                <img src="Honne.png"  alt = "Logo" width="200" height="50">
            </picture></a></li>
            <li><a href="Comoleermanga.html"> ¿Como leer manga? </a></li>
            <li><a href="Mangas.html"> Mangas </a></li>
            <li><a href="WebToons.html"> Web Toons </a></li>
            <li><a href="Explorar.html"> Explorar </a></li>
        </ul>
    </nav>
    <header>
        <br>
        <br>
        <h1 id="Bienvenidos">
            Aqui encontraras los mangas, manwhas<br> y manhuas del genero<br> de Aventura!
        </h1>
    </header>
    <br>
    <div class="row">
        <div class="container1">
        <a href="KimetsuNoYaiba.html">    
        <picture id="manga1">
          <img src="Kimetsu.png" alt="Portada del manga Kimetsu no Yaiba" width="200" height="300" class="image">
          <div class="overlay"> Kimetsu no Yaiba </div>
              <div class="tag1"><p> Shōnen </p></div>
              <div class="tag2"><p> Jidaimono </p></div>
        </picture></a>
        </div>
        <div class="container1">
            <a href="">    
            <picture id="manga1">
              <img src="Shingeki.png" alt="Portada del manga Shingeki no Kyojin" width="200" height="300" class="image">
              <div class="overlay"> Shingeki no Kyojin </div>
              <div class="tag1"><p> Shōnen </p></div>
              <div class="tag2"><p> Acción </p></div>
            </picture></a>
            </div>
        <div class="container1">
            <a href="">    
            <picture id="manga1">
              <img src="Noblesse.jpg" alt="Portada del manhwa Noblesse" width="200" height="300" class="image">
              <div class="overlay"> Noblesse </div>
              <div class="tag1"><p> Manwha </p></div>
              <div class="tag2"><p> Shōnen </p></div>
              <div class="tag3"><p> Acción </p></div>
            </picture></a>
            </div>
            </div>
            <br>
            <br>
            <br>
            <br>
</body>
</html>