<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Higurashuocomosellame.css">
        <title> Kimetsu no Yaiba </title>
    </head>
    <body>
        <nav>
            <ul id="menu">
                <li> <a href="Honne.html"> 
                    <picture>
                    <img src="Honne.png"  alt = "Logo" width="200" height="50">
                </picture></a></li>
                <li><a href="Comoleermanga.html"> ¿Como leer manga? </a></li>
                <li><a href="Mangas.html"> Mangas </a></li>
                <li><a href="WebToons.html"> Web Toons </a></li>
                <li><a href="Explorar.html"> Explorar </a></li>
            </ul>
        </nav>
    <div class="fondodo">
    <div class="row1">
        <div class="column1">
          <img src="KimetsuCap1.jpg">
          <img src="KimetsuCap1.2">
          <img src="KimetsuCap1.3.jpg">
          <img src="KimetsuCap1.4.jpg">
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="Cajita2">
       <a href="KimetsuNoYaiba.html">   
      <button id="Botonnext"><b> <P>Regresar a la hoja del manga </P></b></button>
      </a>
      <button id="Botonnext"><b> <P>Siguiente</P></b></button>
    </div>
      <br>
      <br>
      <br>
    </div>
</body>
</html>