<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Higurashuocomosellame.css">
        <title> Kimetsu no Yaiba </title>
    </head>
    <body>
        <nav>
            <ul id="menu">
                <li> <a href="Honne.html"> 
                    <picture>
                    <img src="Honne.png"  alt = "Logo" width="200" height="50">
                </picture></a></li>
                <li><a href="Comoleermanga.html"> ¿Como leer manga? </a></li>
                <li><a href="Mangas.html"> Mangas </a></li>
                <li><a href="WebToons.html"> Web Toons </a></li>
                <li><a href="Explorar.html"> Explorar </a></li>
            </ul>
        </nav>

        <header class= "HojaKimetsu">
            <div id="Contenidou">
            <table>
                <tr>
                    <td>
                        
                        <picture id="ImgKimetsu">
                            <img src="Kimetsu.png" alt="Portada del manga Kimetsu no Yaiba" width="200" height="300" class="image">
                        </picture>
                    </td>
                    <td id= fondo>
                        <h1 id="TituloKimetsu">
                            <b> Kimetsu No Yaiba </b>
                        </h1>
                        <b><div class="Autor"><p> Autor: Koyoharu Gotōge </p></div>
                        <div class="EstadoFin"><p> Estado: Finalizado. </p></div>
                        <div class="Anime"><p> Puedes ver el anime. </p></div></b>
                        <a href = "Shonen.html"><div class="Demografía"><p>Shōnen</p></div></a>
                        <a href = "Jidaimono.html"><div class="tag00"><p>Jidaimono</p></div></a>
                        <a href = "Aventura.html"><div class="tag01"><p> Aventura</p></div></a>
                        <a href = "Accion.html"><div class="tag02"><p>Acción </p></div></a>
                        <br>
                        <p id="Parrafo">
                            Tanjirou es el hijo mayor en una familia que perdió a su padre. Un día, va de visita a otro pueblo para vender carbón, y termina quedándose a pasar la noche en la casa de un lugareño, ya que abunda el rumor de un demonio que ronda por las montañas por la noche. Cuando vuelve a casa al siguiente día, una tragedia lo estaba esperando.                        </p>
                        <br>
                    </td>
                </tr>
            </div>
            </table>
        </header>|
        <br>
        <div class="Cajita">
        <h1 id="Titulolector"> Leer manga. </h1><br>
        <h2 id="Titulolector"> Cápitulos (3) </h2><br>
        <a href="" class="accordion"> Cápitulo 3</a>
        <a href="" class="accordion"> Cápitulo 2</a>
        <a href="Cap1.html" class="accordion"> Cápitulo 1</a>
    </div>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>